<% layout("layouts/boilerplate") %>

    <div class="row mb-3">
        <div class="card col-6 offset-3 p-0 mb-3">
            <img src="<%= campground.image %>" class="card-img-top img-fluid" alt=...">
            <div class="card-body">
                <h5 class="card-title"><%= campground.name %></h5>
                <p class="card-text"><%= campground.description %></p>
            </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item text-muted"><%= campground.location %></li>
            <li class="list-group-item"><strong>$: <%= campground.price %></strong> /night</li>
            </ul>
            <div class="card-body">
                <a href="/campgrounds/<%= campground.id %>/edit" class="card-link btn btn-info">Edit</a>
                <a href="/campgrounds" class="card-link btn btn-dark">Go Back</a>
            </div>
            <div class="card-body">
                <h3>Leave a Review</h3>
                <form action="/campgrounds/<%= campground._id %>/reviews" method="POST" class="mb-3 needs-validation" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="review[rating]">Rating:</label>
                        <input class="form-range" type="range" min="1" max="5" name="review[rating]">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="review[body]">Review:</label>
                        <textarea class="form-control" name="review[body]" id="body" rows="3" required></textarea>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-success">Submit Review</button>
                    </div>
                </form>
                <hr>
                <h3>Reviews:</h3>
                <% for ( let review of campground.reviews ) { %>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Rating: <%= review.rating %></h5>
                        <p class="card-text"><%= review.body %></p>
                        <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>

  